h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 60px;
}
h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 15px;
}

.millones {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 0px 10px;
}

.conditions {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin: 0px 10px;
  padding-bottom: 15px;
}

.menu-principal {
  background-color: black;
}
.link-color {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
  margin-right: 20px;
}
.logo-1 {
  height: 20px;
}
.blue-section {
  background-color: #008fd1;
  width: 100%;
}
.color-footer {
  background-color: black;
  height: 70px;
  color: white;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  display: none;
}

.menu-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  position: sticky;
  top: 0;
}
.article-1,
.article-2,
.article-3,
.article-4 {
  display: flex;
  text-align: center;
}
.image-article {
  width: 50px;
}
.white-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plan-button {
  background-color: green;
  border-radius: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 15px 10px;
  padding: 10px 10px;
  color: white;
}
.image-article {
  display: flex;
  justify-content: flex-start;
}
